
.App {
  font-family: 'Unbounded', cursive;;
  background: linear-gradient(#004273, #00182a);
  width: 860px;
  height: 410px;
 
  

}

.footer {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #022642;
  

}

