
.App {
  font-family: 'Unbounded', cursive;;
  background: linear-gradient(#20476f, #011d3e);
  width: 790px;
  height: 410px;
}

@media (max-width: 560px) {
 .App {
  background: black;
 }
}

.footer {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
 color: #143d61;
  margin-top: 10px;
}

