
.App {
  font-family: 'Unbounded', cursive;;
  background: linear-gradient(#004273, #00182a);
  width: 800px;
  height: 450px;
  

}

.footer {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 80px;
}

