.WeatherForecast {
    width: 170px;
    font-size: 23px;
    border-radius: 4px;
    background-color: #f0faff;
    margin-top: -335px;
    margin-left: 590px;
}

.WeatherForecast-day {
   color: #041e39;
   font-size: 18px; 
}

.WeatherForecast-temperatures {
    margin-left: 15px;
    font-size: 16px;
    color: black;
}

.WeatherForecast-temperature-min {
    margin-left: 15px;
    opacity: 60%;
}
