.WeatherForecast {
    width: 270px;
    font-size: 23px;
    border-radius: 4px;
    background-color: #f1f9fb;
    margin-top: -300px;
    margin-left: 560px;
}

.WeatherForecast-day {
    margin: 0 10px 0 5px;
   color: #011e32;
    
}

.WeatherForecast-temperatures {
    margin: 0 10px;
    font-size: 18px;
    color: black;
}


.WeatherForecast-temperature-min {
    margin: 0 10px;
    opacity: 65%;

}
